.Main-chat
  .Header
    .Top-left
      .Top-left__group
        = @group.name
      %p.Top-left__member 
        - @group.users.each do |user|
          = user.name
    .Top-right
      = link_to edit_group_path(@group), class: "Top-right__edit-btn" do
        Edit
  .MessageField
    = render @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form-left
        = f.text_field :content, class: "Form-left__text", placeholder: 'type a message'
        = f.label :image, class: "Form-left__image-btn" do
          = icon('far', 'image', class: 'Form-left__icon')
          = f.file_field :image, class: "Form-left__image-btn--hidden" 
      .Form-right
        = f.submit 'Send', class: "Form-right__send-btn"    